<mat-card class="poef-card">
            <mat-card-header
              ><span class="fill-remaining-space"></span>
              <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>

            <app-avatar mat-card-avatar  [value]="abbrevation" [email]="email"></app-avatar>
            <mat-card-title>{{leaderName}}</mat-card-title>
            <mat-card-subtitle *ngIf="amountOfDrinks">{{amountOfDrinks | i18nPlural: amountPluralMapping }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions align="end">
              <button mat-button>MIN</button>
              <button mat-button>PLUS</button>
            </mat-card-actions>
          </mat-card>