<mat-sidenav-container class="nav-container">
  <mat-sidenav
    [disableClose]="true"
    #drawer
    class="sidenav-list"
    mode="side"
    opened
  >
    <mat-toolbar
      class="mat-elevation-z2 toolbar"
      [style.marginTop.px]="(deviceService.isHandset$ | async) ? 56 : 0"
    >
      <button
        *ngIf="showBackButton"
        type="button"
        mat-icon-button
        (click)="back()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>

      {{title}}</mat-toolbar
    >
    <ng-container *ngIf="items else loadingTemplate">
    <mat-list *ngFor="let item of items">
      <mat-list-item [class.active]="selectedItemId === item.id" (click)="onItemClick(item.id)">{{
        item.displayName
      }}</mat-list-item>
    </mat-list>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #loadingTemplate>
  <p class="loadingIndicator">
    Laden...
  </p>
  </ng-template>