@import '~angular-material-css-vars/public-util';

.avatar {
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;

}

.initials {
    background-color: mat-css-color-primary(500);
    color: white;
}

