/* You can add global styles to this file, and also import other style files */
  @import '~angular-material-css-vars/main';

// optional
$mat-css-dark-theme-selector: '.isDarkTheme';
$mat-css-light-theme-selector: '.isLightTheme';

// init theme
@include initMaterialCssVars();

.fill-remaining-space {
  flex: 1 1 auto;
}

.is-mobile .toolbar {
  
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 3;
}