.takNav,
.drinkNav {
  height: 100%;

  mat-sidenav {
    min-width: 200px;
  }
}
.card-container {
    padding: 16px;
}

 .sidenav-list {
    z-index: 2;
    @media (max-width: 599px) {
      max-width: 100%;
      width: 100%;
    }

  }
