<mat-sidenav-container class="takNav">
  <mat-sidenav 
  [disableClose]="true"
  #takDrawer 
  class="sidenav-list" 
  mode="side" 
  opened
  >
    <mat-toolbar class="mat-elevation-z2">Takken</mat-toolbar>
    <mat-list>
      <mat-list-item (click)="onTakClick()">Bevers</mat-list-item>
      <mat-list-item>Welpen</mat-list-item>

    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-sidenav-container hasBackdrop="false" class="drinkNav">
      <mat-sidenav 
      
      [disableClose]="true"
      #drankDrawer 
      class="sidenav-list" 
      mode="side"
       opened>
        
        <mat-toolbar class="mat-elevation-z2">
          <button *ngIf="(isHandset$ | async)" type="button" mat-icon-button (click)="takDrawer.toggle()">
          <mat-icon>arrow_back</mat-icon>
        </button>
          Dranken</mat-toolbar>
        <mat-list>
          <mat-list-item (click)="onDrinkClick()">Cola</mat-list-item>
          <mat-list-item>Fanta</mat-list-item>
        </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z2">
           <button *ngIf="(isHandset$ | async)" type="button" mat-icon-button (click)="drankDrawer.toggle()">
          <mat-icon>arrow_back</mat-icon>
        </button>
          Bevers - Cola</mat-toolbar>
        <div class="card-container">
          <app-poef-card leaderName="Thomas" amountOfDrinks="0"></app-poef-card>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
