<app-drinks-nav #takDrawer>
  <app-drinks-nav #drankDrawer [topDrawer]="takDrawer.drawer" [showBackButton]="(deviceService.isHandset$ | async)">
    <mat-toolbar [style.marginTop.px]="(deviceService.isHandset$ | async) ? 56 : 0" class="mat-elevation-z2 toolbar">
      <button
        *ngIf="deviceService.isHandset$ | async"
        type="button"
        mat-icon-button
        (click)="drankDrawer.drawer.toggle()"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      Bevers - Cola</mat-toolbar
    >
    <div
      class="card-container"
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutAlign="flex-start space-evenly"
      fxLayoutGap="16px grid"
    >
      <ng-container
        *ngFor="
          let _ of [
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10,
            11,
            12,
            13,
            14,
            15,
            16,
            17,
            18,
            19,
            20,
            21,
            22,
            23,
            24
          ]
        "
      >
        <app-poef-card
          fxFlex="0 1 calc(33.3% - 16px)"
          fxFlex.lt-lg="0 1 calc(50% - 16px)"
          fxFlex.lt-sm="100%"
        >
        </app-poef-card>
      </ng-container>
    </div>
  </app-drinks-nav>
</app-drinks-nav>
